<div class="calculator">
  <div class="tablet-part">
  <fieldset class="name-field">
    <%= form_tag('/', method: :post) do %>
      <p>1. Enter an area of your life that you value</p>
      <%= text_field_tag 'area', nil, placeholder: 'Enter an area' %>
      <p class="option">or choose one of the options below:</p>
      <ul>
        <li class="area-example">Family</li>
        <li class="area-example">Friends</li>
        <li class="area-example">Career</li>
        <li class="area-example">Exercise</li>
        <li class="area-example">Money</li>
        <li class="area-example">Faith</li>
        <li class="area-example">Leisure</li>
        <li class="area-example">Travel</li>
        <li class="area-example tablet">Education</li>
        <li class="area-example tablet">Intimacy</li>
        <li class="area-example desktop">Status</li>
        <li class="area-example desktop">Volunteering</li>
        <li class="area-example desktop">Community</li>
        <li class="area-example desktop">Pets</li>
      </ul>
  </fieldset>
    <div class="second-part">
      <div class="desktop-padding">
        <fieldset class="importance-field">
          <div class="cover"></div>
          <p>2. Rate the importance this area has in your life:</p>
          <%= text_field_tag 'importance', nil, placeholder: 'From 1 to 10' %>
          <%= render 'numbers' %>
        </fieldset>
      </div>
      <div class="desktop-padding">
        <fieldset class="satisfaction-field">
          <p>3. Gauge your satisfaction in this area:</p>
          <%= range_field_tag 'satisfaction', nil, within: 0..20 %>
          <div class="output">Move the slider!</div>
        </fieldset>
      </div>
    </div>
    <% end %>
    <div class="third-part">
      <div class="enter-field">
        <p>4. <span id="add">ADD</span> it to the calculator below.</p>
        <div class="screen">...</div>
        <p>Repeat this for all the areas of your life that are important to you...</p>
      </div>
    </div>
  </div>
  <!-- <div class="calculate-field"> -->
    <div id="calculate">...and CALCULATE when you're done!</div>
  <!-- </div> -->
</div>
