<h1>Areas#index</h1>
<p>Find me in app/views/areas/index.html.erb</p>

<h1>Put down something that is of importance to you.</h1>
<% if !@area.name %>
  <%= form_for @area do |f| %>
    <div>
      <%= f.label "Input an area of your life that is important to you:" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label "How much of a priority is this area in your life?" %>
      1<%= f.range_field :importance, within: 1..10 %>10
    </div><div id="output">5</div>
    <div>
      <%= f.label "How satisfied are you with this area of your life?" %>
      1<%= f.range_field :satisfaction, within: 1..10 %>10
    <div>
      <%= f.submit %>
    </div>
  <% end %>
<% else %>

<div class="database">
  <table>
    <tr>
      <thead>
        <th>Area</th>
        <th>Importance</th>
        <th>Satisfaction</th>
      </thead>
    </tr>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>



<% end %>
