<!DOCTYPE html>
<html>
  <head>
    <title>LifeSatisfactionCalculator</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Roboto+Condensed" rel="stylesheet">
  </head>

  <body>
    <div class="error">
      <h2>It looks like the calculator coudn't add your stuff!</h2>
      <p>Make sure you put in a unique area for step 1, and set values for 2 and 3 before you click add!</p>
      <button>ALL RIGHT, THEN.</button>
    </div>
    <div class="shell">
      <%= yield %>
    </div>
    <div style="height: 10%">
      <%= console %>
    </div>
  </body>
</html>
